body {
  font-family: Arial;
  font-size: 120%;
  background-color: lightgray;
}

a {
  color: white;
  text-decoration: none;
  transition: color 0.1s;
}

.scores:hover {
  background-color: rgb(106, 172, 106);
}

button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: green;
  border-radius: 5px;
  padding: 2px 10px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: rgb(106, 172, 106);
}

.choices button {
  display: block;
}

input[type="text"] {
  font-size: 100%;
}

ol {
  padding-left: 30px;
  max-height: 400px;
}

li {
  padding: 5px;
  align-items: center;
  list-style-type: none;

}
/* 
li:nth-child(odd) {
  background-color: #f3edfc;
} */

.choices {
  margin: 50px auto 0 auto;
  max-width: 400px;
}
.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
  background-color: orange;
  box-shadow: rgba(0.15, 0.15, 0, 0.15) 10px 10px 8px 0px;
  color: white;
}

.hide {
  display: none;
}

.questions,
.start {
  text-align: center;
}
#result{
  margin: 20px auto 0 auto;
  max-width: 400px;
  text-align: start;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-top: 1px solid gray;
  padding: 20px;
}

.scores {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: green;
  padding: 10px;
  border-radius: 5px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}

.timer {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color:green;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

h2{
 text-align: center;
  margin-top: 60px;
}